.vimtags
*.o
*.a
*.so
.build/
mdr_tests
mdrc
mdrd
.depend
.deps
coverity/
ca/
client1/
client2/
mdrd_backend_echo
flatconf.c
cov-int/
debian/*.ex
debian/tmp/
debian/libmdr[0-9]/
debian/libmdr-dev/
debian/files/
debian/.debhelper/
debian/debhelper-build-stamp
debian/*.log
debian/*.substvars
