dir                     = ca

[ca]
default_ca              = overnet_ca

[overnet_ca]
certificate             = $dir/overnet.pem
database                = $dir/index.txt
new_certs_dir           = $dir/certs
private_key             = $dir/private/overnet_key.pem
serial                  = $dir/serial
default_crl_days        = 365
default_days            = 7
default_md              = sha256
copy_extensions         = copy
policy                  = overnet_ca_policy
x509_extensions         = overnet_crt_ext

[overnet_ca_policy]
commonName              = supplied
stateOrProvinceName     = optional
countryName             = optional
emailAddress            = optional
organizationName        = supplied
organizationalUnitName  = optional

[overnet_crt_ext]
basicConstraints        = critical,CA:false
keyUsage                = critical,nonRepudiation,digitalSignature,keyEncipherment
extendedKeyUsage        = serverAuth,clientAuth
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid,issuer

[root_ext]
basicConstraints        = critical,CA:true
keyUsage                = critical,cRLSign,keyCertSign,digitalSignature
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer

[req]
default_bits            = 4096
default_md              = sha256
distinguished_name      = dn

[dn]
organizationName        = supplied
commonName              = supplied
