#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

DEB_VERSION_MAJOR = $(shell dpkg-parsechangelog -SVersion | cut -d. -f 1)

%:
	dh $@

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp -- \
		PREFIX=/usr \
		LIBDIRSUFFIX=lib/$(DEB_HOST_MULTIARCH) \
		DOCDIR=/usr/share/doc/libmdr$(DEB_VERSION_MAJOR)
