#!/usr/bin/make -f

# See debhelper(7) (uncomment to enable).
# Output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# See FEATURE AREAS in dpkg-buildflags(1).
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# See ENVIRONMENT in dpkg-buildflags(1).
# Package maintainers to append CFLAGS.
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# Package maintainers to append LDFLAGS.
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

DEB_VERSION = $(shell dpkg-parsechangelog -SVersion)
DEB_VERSION_MAJOR = $(shell dpkg-parsechangelog -SVersion | cut -d. -f 1)
DESTDIR = debian/tmp/usr

%:
	dh $@

override_dh_auto_build:
	make EXTRA_CFLAGS="-O2 -D_FORTIFY_SOURCE=2"

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp/usr
	mkdir -p debian/tmp/usr/lib/${DEB_HOST_MULTIARCH}
	mv debian/tmp/usr/lib/libmdr.so \
		debian/tmp/usr/lib/${DEB_HOST_MULTIARCH}/
	mv debian/tmp/usr/lib/libmdr.so.* \
		debian/tmp/usr/lib/${DEB_HOST_MULTIARCH}/
	mv debian/tmp/usr/lib/libflatconf.so \
		debian/tmp/usr/lib/${DEB_HOST_MULTIARCH}/
	mv debian/tmp/usr/lib/libflatconf.so.* \
		debian/tmp/usr/lib/${DEB_HOST_MULTIARCH}/
	mv debian/tmp/usr/lib/libmdr.a \
		debian/tmp/usr/lib/${DEB_HOST_MULTIARCH}/
	mv debian/tmp/usr/lib/libflatconf.a \
		debian/tmp/usr/lib/${DEB_HOST_MULTIARCH}/
	mv debian/tmp/usr/share/doc/libmdr debian/tmp/usr/share/doc/libmdr${DEB_VERSION_MAJOR}
	mkdir -p debian/tmp/usr/lib/${DEB_HOST_MULTIARCH}/pkgconfig
	PC_PREFIX=/usr VERSION=${DEB_VERSION} LIBDIRSUFFIX=lib/${DEB_HOST_MULTIARCH} \
	       ./mdr.pc.sh \
		> debian/tmp/usr/lib/${DEB_HOST_MULTIARCH}/pkgconfig/mdr.pc
	PC_PREFIX=/usr VERSION=${DEB_VERSION} LIBDIRSUFFIX=lib/${DEB_HOST_MULTIARCH} \
	       ./flatconf.pc.sh \
		> debian/tmp/usr/lib/${DEB_HOST_MULTIARCH}/pkgconfig/flatconf.pc
